@inherits LayoutComponentBase



<div class="main">
    
    <div class="navbar bg-primary">
    <h1>
         Toutnament Tracker
    </h1>
    
        </div>

    <div class="container px-4">
        @Body
    </div>
</div>
